# Arquivos de ambiente
.env

# Diretórios de dados
data/
memory_data/
postgres_data/
redis_data/
n8n_data/
mongodb_data/
evolution_instances/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.cursor

# Outros arquivos que podem conter informações sensíveis
*.pem
*.key
